
nextflow.enable.moduleBinaries = true

params {
    input="bam"
}

profiles {
    slurm {
        executor {
	  name='slurm'
	}
        queue = 'batch'
    }
}


env {
    PATH=":/opt/exp_soft/bioinf/coverm/bin:/opt/exp_soft/bioinf/SPAdes-4.0-Linux/bin/:/opt/exp_soft/bioinf/ncbi-blast-2.12:/opt/exp_soft/bioinf/kraken2/2.1.2/:/opt/exp_soft/bioinf/Open-Omics-Acceleration-Framework/applications/bwa-mem2/:/opt/exp_soft/bioinf/sequence/bin:/opt/exp_soft/bioinf/hifiasm/0.19.9:/opt/exp_soft/python/3.12.3/bin/:/opt/exp_soft/python38/bin/:/opt/exp_soft/bioinf/samtools/1.20/bin::/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/opt/exp_soft/bioinf/racon/bin:/opt/exp_soft/bioinf/flye/2.9/bin:/opt/exp_soft/bioinf/OPERA-MS/:/opt/exp_soft/bioinf/MUSCLE/3.8.1551:/opt/exp_soft/bioinf/racon/1.5.0/bin/:/opt/exp_soft/bioinf/busco/:/opt/exp_soft/bioinf/prodigal/2.11/:/opt/exp_soft/bioinf/diamond/2.0.4/:/opt/exp_soft/bioinf/gunc/"
    PERL5LIB="/opt/exp_soft/share/perl5/5.32/"
    R_LIBS_SITE="/opt/exp_soft/R/4.4"
    GUNC_DB="/dataB/bacteria/gunc/gunc_db_progenomes2.1.dmnd"
    CHECKVDB="/dataB/virus/checkv-db-v1.5"
}
